<h1>Edit <%= @employee.first_name %> <%= @employee.last_name %></h1>

<%= form_for @employee do |e| %>
    <% if @employee.errors.any? %>
        <% @employee.errors.full_messages.each do |msg| %>
            <ul>
                <li><%= msg %></li>
            </ul>
        <% end %>
    <% end %>
    <%= e.label :first_name %>
    <%= e.text_field :first_name %><br>
    <%= e.label :last_name %>
    <%= e.text_field :last_name %><br>
    <%= e.label :alias %>
    <%= e.text_field :alias %><br>
    <%= e.label :title %>
    <%= e.text_field :title %><br>
    <%= e.label :office %>
    <%= e.text_field :office %><br>
    <%= e.collection_select :dog_id, Dog.all, :id, :name %>
    <%= e.submit %>
<% end %>
