<h1><%= @dog.name %></h1>

<p>Breed:<%= @dog.breed %></p>
<p>Age:<%= @dog.age %></p>
<p>Employees:</p>
<ul>
    <% @dog.employees.each do |e| %>
        <li><%= e.first_name %> <%= e.last_name %></li>
    <% end %>
</ul>

<p><%= link_to 'Back', dogs_path %></p>